.board-view {
  width: 100%;
  border-top: 2px solid black;
  font-size: 1rem;
}

.board-view .board-title {
  padding: 20px 15px;
  border-bottom: 1px dashed rgb(221, 221, 221);
  font-size: 1.5rem;
}

.board-view .board-info {
  padding: 1rem;
  border-bottom: 1px solid rgb(153, 153, 153);
  font-size: 0;
}

.board-view .board-info dl {
  position: relative;
  display: inline-block;
  padding: 0 1.25rem;
}

.board-view .board-info dl:first-child {
  padding-left: 0;
}

.board-view .board-info dl::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 1px;
  height: 13px;
  background: rgb(221, 221, 221);
}

.board-view .board-info dl:first-child::before {
  display: none;
}

.board-view .board-info dl dt,
.board-view .board-info dl dd {
  display: inline-block;
  font-size: 1rem;
}

.board-view .board-info dl dt {
}

.board-view .board-info dl dd {
  margin-left: 10px;
  color: rgb(119, 119, 119);
}

.board-view .board-content {
  padding: 1rem;
  border-bottom: 1px solid black;
  line-height: 140%;
  font-size: 1rem;
}

.btn-wrap button {
  background-color: white;
}
