.write-container {
  max-width: 25rem;
  margin: 3rem auto;
}

h1 {
  text-align: center;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 0.25rem;
}

input,
textarea {
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid rgb(116, 108, 108);
}

input:focus,
textarea:focus {
  background-color: rgb(226, 216, 216);
}

.write-item {
  margin: 0.5rem 0;
}

.btn {
  cursor: pointer;
  font: inherit;
  margin: 0.2rem auto;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  border: 1px solid rgb(42, 41, 44);
  color: rgb(204, 203, 202);
  background-color: rgb(56, 55, 53);
}

.btn-cancel {
  color: rgb(54, 46, 46);
  background-color: rgb(224, 223, 220);
  border: 1px solid rgb(156, 153, 153);
}

.btn:hover {
  color: rgb(204, 203, 202);
  background-color: rgb(46, 43, 43);
}

.btn-cancel:hover {
  color: rgb(54, 46, 46);
  background-color: rgb(200, 200, 200);
  border: 1px solid rgb(217, 205, 205);
}
